<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Entries | Challenge Council</title>
    <%- include ../partials/styles %>
    <link rel="stylesheet" type="text/css" href="/static/css/entries.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/previews.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tables.css">
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
</head>

<body>
    <%- include ../partials/header %>

    <div class="page-container">
        <div class="side-bar">
            <!-- Contests -->
            <img id="sidebar-spinner" src="/static/images/new-loading-spinner.svg" class="loading-spinner">
        </div>

        <div class="content-container" id="entry-list">
            <div class="content-header">
                <h2 id="entry-contest-name">
                    <img id="title-spinner" src="/static/images/new-loading-spinner.svg" class="loading-spinner small">
                    <!-- contest name -->
                </h2>
                <div>
                    <% if (permissions.add_entries || is_admin) { %>
                        <span id="import-entries-btn" class="btn-primary" onclick="updateEntries(<%= contest_id %>)">Import Entries</span>
                        <span id="add-entry-btn" class="btn-primary" onclick="showPage('add-entry-page')">Add Single Entry</span>
                    <% } %>
                    <% if (permissions.assign_entry_groups || is_admin) { %>
                        <span id="transfer-entries-btn" class="btn-primary" onclick="showPage('update-entry-groups-page')">Update Groups</span>
                    <% } %>
                </div>
            </div>
            <div class="previews-container">
                <div class="preview col-12 standard">
                    <div class="preview-content">
                        <img id="entries-spinner" src="/static/images/new-loading-spinner.svg" class="loading-spinner">
                        <table id="entries-table" style="display: none">
                            <thead>
                                <th style="width: 5%">ID</th>
                                <th style="width: 25%">Title</th>
                                <th style="width: 15%">Author</th>
                                <% if (logged_in) { %>
                                <th style="width: 5%">Skill Level</th>
                                <% } %>
                                <th style="width: 15%">Created</th>
                                <% if (logged_in) { %>
                                <th style="width: 5%">Group</th>
                                <% } %>
                                <% if (is_admin || permissions.edit_entries || permissions.delete_entries) { %>
                                <th class="actions" style="width: 1%"></th>
                                <% } %>
                            </thead>
                            <tbody id="entries-table-body">
                                <!-- Entries -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <% if (permissions.add_entries || is_admin) { %>
            <div class="content-container" id="add-entry-page" hidden>
                <div class="content-header">
                    <h2>Add Entry</h2>
                </div>

                <form id="add-entry-form" class="admin-form" onsubmit="return addEntry(event)">
                    <div class="row">
                        <div class="col-10">
                            <label for="entry_kaid">Entry KAID</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="text" id="entry_kaid" name="entry_kaid">
                        </div>
                    </div>
                    <div class="row form-actions">
                        <a href="javascript:void(0);" class="btn-secondary" onclick="showPage('entry-list')">Cancel</a>
                        <input class="btn-primary" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        <% } %>
        <% if (permissions.edit_entries || is_admin) { %>
            <div class="content-container" id="edit-entry-page" hidden>
                <div class="content-header">
                    <h2>Edit Entry</h2>
                </div>

                <form id="edit-entry-form" class="admin-form" onsubmit="return editEntry(event)">
                    <div class="row">
                        <input type="hidden" id="edit_entry_id" name="edit_entry_id">
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="edit_entry_title">Title</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="text" id="edit_entry_title" name="edit_entry_title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="edit_entry_author">Author</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="text" id="edit_entry_author" name="edit_entry_author">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="edit_entry_level">Skill Level</label>
                        </div>
                        <div class="col-90">
                            <input type="hidden" id="edit-entry-level-input" name="edit_entry_level" value="TBD" hidden>
                            <div class="custom-select" id="edit-entry-level-dropdown">
                                <div class="custom-select-btn" onclick="showSelectDropdown('edit-entry-level-dropdown');">TBD<i class="fas fa-angle-down"></i></div>
                                <div class="select-dropdown-content" hidden>
                                    <a href="javascript:void(0);" onclick="setSelectValue('edit-entry-level', 'TBD', 'TBD');">TBD</a>
                                    <a href="javascript:void(0);" onclick="setSelectValue('edit-entry-level', 'Beginner', 'Beginner');">Beginner</a>
                                    <a href="javascript:void(0);" onclick="setSelectValue('edit-entry-level', 'Intermediate', 'Intermediate');">Intermediate</a>
                                    <a href="javascript:void(0);" onclick="setSelectValue('edit-entry-level', 'Advanced', 'Advanced');">Advanced</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="edit_entry_level_locked">Skill Level Locked</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="checkbox" id="edit_entry_level_locked" name="edit_entry_level_locked">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="edit_entry_group">Assigned Group</label>
                        </div>
                        <div class="col-90">
                            <input type="hidden" id="assigned-group-input" name="edit_entry_group" value="null" hidden>
                            <div class="custom-select" id="assigned-group-dropdown">
                                <div class="custom-select-btn" onclick="showSelectDropdown('assigned-group-dropdown');">None<i class="fas fa-angle-down"></i></div>
                                <div class="select-dropdown-content" hidden>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="edit_flagged">Flagged</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="checkbox" id="edit_flagged" name="edit_flagged">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label for="edit_disqualified">Disqualified</label>
                        </div>
                        <div class="col-90">
                            <input class="form-input" type="checkbox" id="edit_disqualified" name="edit_disqualified">
                        </div>
                    </div>
                    <div class="row form-actions">
                        <a href="javascript:void(0);" class="btn-secondary" onclick="showPage('entry-list')">Cancel</a>
                        <input class="btn-primary" type="submit" value="Save">
                    </div>
                </form>
            </div>
        <% } %>
        <% if (permissions.assign_entry_groups || is_admin) { %>
            <div class="content-container" id="update-entry-groups-page" hidden>
                <div class="content-header">
                    <h2><a href="javascript:void(0);" onclick="showPage('entry-list')">Entries</a> > Update Entry Groups</h2>
                </div>

                <div class="previews-container">
                    <div class="preview col-12 standard">
                        <div class="db-header">
                            <p>New Group Assignments</p>
                        </div>
                        <div class="preview-content">
                            <span id="assign-entries-btn" class="btn-secondary" onclick="showConfirmModal('Assign all entries?', 'Are you sure you want to assign all entries to groups? Any entries that are currently assigned may be reassigned. If you need to assign a few entries, edit them individually instead.', 'assignEntries(<%= contest_id %>)', false, 'Assign');">Assign All Entries To Groups</span>
                            <span id="assign-new-entries-btn" class="btn-secondary" onclick="showConfirmModal('Assign new entries?', 'Are you sure you want to assign new entries to groups? Any entries that are currently unassigned will be assigned a group. If you need to assign a few entries, edit them individually instead.', 'assignNewEntries(<%= contest_id %>)', false, 'Assign');">Assign New Entries To Groups</span>
                        </div>
                    </div>
                </div>

                <div class="previews-container">
                    <div class="preview col-12 standard">
                        <div class="db-header">
                            <p>Transfer Groups</p>
                        </div>
                        <div class="preview-content">
                            <form id="transfer-entries-form" onsubmit="return transferEntries(event)">
                                <input type="hidden" name="contest_id" value="<%= contest_id %>"></input>
                                <div class="row">
                                    <div class="col-10">
                                        <label for="current_entry_group">Current Group</label>
                                    </div>
                                    <div class="col-90">
                                        <input type="hidden" id="current-group-input" name="current_entry_group" value="null" hidden>
                                        <div class="custom-select" id="current-group-dropdown">
                                            <div class="custom-select-btn" onclick="showSelectDropdown('current-group-dropdown');">None<i class="fas fa-angle-down"></i></div>
                                            <div class="select-dropdown-content" hidden>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <label for="new_entry_group">New Group</label>
                                    </div>
                                    <div class="col-90">
                                        <input type="hidden" id="new-group-input" name="new_entry_group" value="null" hidden>
                                        <div class="custom-select" id="new-group-dropdown">
                                            <div class="custom-select-btn" onclick="showSelectDropdown('new-group-dropdown');">None<i class="fas fa-angle-down"></i></div>
                                            <div class="select-dropdown-content" hidden>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <input class="btn-secondary" type="submit" value="Transfer">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div> <!-- Page content -->

    </div> <!-- Page container -->
    <%- include ../partials/footer %>
</body>
<script src="/static/js/entries.js"></script>
<% if (permissions.assign_entry_groups || permissions.edit_entries || is_admin) { %>
    <script>
        let groupDropdown = document.querySelector("#assigned-group-dropdown .select-dropdown-content");
        let currentGroupDropdown = document.querySelector("#current-group-dropdown .select-dropdown-content");
        let newGroupDropdown = document.querySelector("#new-group-dropdown .select-dropdown-content");
        request("get", "/api/internal/admin/getEvaluatorGroups", null, (data) => {
            if (!data.error) {
                data.evaluatorGroups.forEach(g => {
                    if (g.is_active) {
                        if (permissions.edit_entries || data.is_admin) {
                            groupDropdown.innerHTML += `<a href="javascript:void(0);" onclick="setSelectValue('assigned-group', ${g.group_id}, '${g.group_id} - ${g.group_name}');">${g.group_id} - ${g.group_name}</a>`;
                        }
                        if (permissions.assign_entry_groups || data.is_admin) {
                            currentGroupDropdown.innerHTML += `<a href="javascript:void(0);" onclick="setSelectValue('current-group', ${g.group_id}, '${g.group_id} - ${g.group_name}');">${g.group_id} - ${g.group_name}</a>`;
                            newGroupDropdown.innerHTML += `<a href="javascript:void(0);" onclick="setSelectValue('new-group', ${g.group_id}, '${g.group_id} - ${g.group_name}');">${g.group_id} - ${g.group_name}</a>`;
                        }
                    }
                });
            } else {
                displayError(data.error);
            }
        });
    </script>
<% } %>
</html>
